# Core Ultralytics YOLO
ultralytics>=8.3.0

# Processamento de imagem / webcam
opencv-python>=4.10.0
opencv-contrib-python>=4.10.0

# Utils gerais
numpy
pyyaml
tqdm

# Visualização e depuração
matplotlib
